@media (min-width: 947px) {
    .fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }
    .fonctionnement__bloc-button {
        margin-top: 20px;
        display: flex;
        width: 100%;
    }
    .fonctionnement-button {
        width: 33%;
        cursor: pointer;
        &__chiffre {
            right: 0;
            left: 48%;
            bottom: 40px;
        }
    }
    .restaurants {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2%;
        & h2 {
            display: flex;
            align-self: center;
            padding-left: 1%;
        }
        &__bloc {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
        }
    }
    .card-restaurants {
        padding: 1%;
    }
    .navbar {
        padding-bottom: 25px;
    }
    .menu {
        padding: 2%;
        &__img {
            height: 640px;
        }
        &__plats {
            box-sizing: border-box;
            padding: 1%;
            width: 33%;
            &--column {
                display: flex;
                flex-direction: row;
            }
        }
        &__card__description__text__content {
            font-size: 13px;
        }
        &__button__content {
            width: 250px;
        }
    }
    .footer {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 2%;
        &__link-and-icon {
            justify-content: center;
            align-self: center;
        }
    }
}