@media (min-width: 998px) {
    .fonctionnement {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2%;
    }
    .fonctionnement__bloc-button {
        margin-top: 20px;
        display: flex;
        width: 100%;
    }
    .fonctionnement-button {
        width: 33%;
        cursor: pointer;
        &__chiffre {
            right: 0;
            left: 48%;
            bottom: 40px;
        }
    }
    .restaurants {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 2%;
        &__title{
            padding-left: 1%;
        }
        &__bloc {
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
        }
    }
    .card-restaurants {
        padding: 1%;
    }
    .footer {
        padding: 3% 0% 2% 4%;
    }
}